/* Main Container Displaying Site Content */
.container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    flex-wrap: wrap;
}

/* Setting Properties to the main container's subsections */
.container #start-page,
.container #quiz,
.container #game-over,
.container #high-scores {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Hide content on site load */
.container #quiz,
.container #game-over,
.container #high-scores {
    display: none;
}

.container #show-timer {
    margin-bottom: 5%;
}

.container #show-score {
    margin-bottom: 5%;
}

body {
    background-color: aquamarine;
    font-family: "Inconsolata", Helvetica;
    font-size: 28px;
}

h1,
h2,
h3,
h4 {
    font-size: 40px;
}

button {
    font-family: "Inconsolata", Helvetica;
    background-color: #f68181;
    color: #ffdb15;
    font-size: 20px;
    opacity: 80%;
    width: 270px;
    height: 50px;
}

button:hover {
    opacity: 100%;
}

input {
    font-family: "Inconsolata", Helvetica;
    font-size: 20px;
    color: #f68181;
    width: 270px;
    height: 50px;
    background-color: #1e5f5a;
}

/* Adjusting the css for the placeholder text in the <input> */
::-webkit-input-placeholder {
    font-family: "Inconsolata", Helvetica;
    color: #f68181;
    font-size: 20px;
}

/* Adjusting the css for the placeholder text in the <input> */
::-moz-placeholder {
    font-family: "Inconsolata", Helvetica;
    color: #f68181;
    font-size: 20px;
}

/* Adjusting certain <span>'s to be red */
#red,
#red-2 {
    color: red;
}

#red {
    font-size: 40px;
}