/* Hide All sub sections on page startup */

#quiz,
#game-over,
#high-scores {
    display: none;
}

body {
    background-color: aquamarine;
    font-family: "Inconsolata", Helvetica;
    font-size: 28px;
}


button {
    font-family: "Inconsolata", Helvetica;
    background-color: #f68181;
    color: #ffdb15;
    font-size: 20px;
    opacity: 80%;
    width: 150px;
    height: 50px;
    display: inline-block;
}

button:hover {
    opacity: 100%;
}

/* .container button {
    margin-top: 3%;
} */

.container {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.container #show-timer {
    margin-bottom: 5%;
}

.container #show-score {
    margin-bottom: 5%;
}

#red,
#red-2 {
    color: red;
}

#red {
    font-size: 40px;
}